body {
    text-align: center;
    margin-top: 16px;
    font-size: 20px;
    background-color: silver;
}

h1 {
    color: rebeccapurple;
    font-size: 62px;
}

h5 {
    color: rebeccapurple;
    background-color: orange;
}

input[type="submit"] {
    background-color: purple;
    color: white;
    margin: 39px;
    padding: 11px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    width: 90px;
}

.img {
    width: 36pc;
    height: 21pc;
}

.select {
    padding: 11px;
    margin: 48px;
    border-radius: 10px;
}

.input {
    padding: 11px;
    border-radius: 10px;
}

.equation{
    font-size: 23px;
    font-family: cursive;
}